        <footer class="contact-wrap">
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="https://github.com/trenthogan" class="social-btn"><i class="fa fa-github"></i></a></li>
                  <li><a href="http://codepen.io/hogantrent/" class="social-btn"><i class="fa fa-codepen"></i></a></li>
                  <li><a href="https://www.linkedin.com/pub/trent-hogan/30/859/217" class="social-btn"><i class="fa fa-linkedin-square"></i></a></li>
                  <li><a href="mailto:trenthogan1@gmail.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>

        <script src="/js/script.min.js"></script>

      </body>
    </html>
